body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.42;
}

.titel{
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  text-decoration: underline;
  margin-bottom: 50px;
  color:#ea4f51;

  
  
}
h1{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  text-decoration: underline;
  color: #ea4f51;
 
}

h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.42;
  margin-bottom: 50px;
  margin-top: 100px;
  


 }

.main-navigation > ul > li > a{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  
  
}
  
p {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;

}

.overons{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;

}
.poppy{
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  color:#ea4f51;
}

.button{
  font-weight: 800;
  font-family: 'Dosis', sans-serif;
}

.buttonhover{
  font-family: 'Dosis', sans-serif;
}

.hero__title{
  font-family: 'Dosis', sans-serif;
}



th{
    font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  list-style: none;

  
  
}
td{
      font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  list-style: none;

}

.container{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

.input{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

.homepagina {
   font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.42;
  margin-bottom: 50px;
  margin-top: 0px;
  color:#ababab;
}